.contact-page {
    display: block;
    margin-top: 100px;

    .email {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .email-icon {
            width: 60px;
            margin: 10px;
        }

        .emailLabel {
            font-size: 20px;
        }
    }

    .phone {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .phone-icon {
            width: 50px;
            margin: 10px
        }

        .phoneLabel {
            font-size: 20px
        }
    }
}